<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://www.iconj.com/ico/k/b/kb1xnnwnmo.ico" type="image/x-icon" />
</head>
<body>
   <div class="container">
     <a href="https://github.com/vivekchand/pypnrstatus.in"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>        

      <form class="form-signin" role="form" action="pnr_status/" method="POST">{% csrf_token %}
        <br/>
        <div class="form-group">
            <h4>Enter PNR No.</h4>
            <input type="text" class="form-control" name="pnrno" placeholder="PNR Number" required autofocus>
        </div>
        <div class="form-group">
            <h4>Notify to my</h4>
            <select name='notification_type' class="form-control">
                <option value="email" selected=True>Email</option>
                <option value="phone">Phone</option>
            </select>
            <input type="text" class="form-control" name="email_or_phone" placeholder="Email or Phone" required>
        </div>
        <div class="form-group">
            <h4>Notify me every</h4>
            <input type="text" class="form-control" value="3" name="notifyValue" placeholder="Enter a number" required>
            <select name='notification_frequency' class="form-control">
                <option value="minutes">Minutes</option>
                <option value="hours" selected=True>Hours</option>
                <option value="days">Days</option>
            </select>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="form-group">
          <center><a href='/stop_notifications' class='btn btn-default'>Stop Notifciations</a></center>
      </div>
    </div> <!-- /container -->
</body>
</html>
