<form action="/" method="POST">{% csrf_token %}
    Enter PNR No: 
    <input type="text" name="pnrno"><br>
    Notify to my
    <select name='notification_type'>
        <option value="email" selected=True>Email</option>
        <option value="phone">Phone</option>
    </select>
    <input type="email_or_phone" name="email_or_phone"><br>
    Notify me every 
    <input type="text" name="notifyValue">
    <select name='notification_frequency'>
        <option value="minutes">Minutes</option>
        <option value="hours" selected=True>Hours</option>
        <option value="days">Days</option>
    </select><br>
    <input type="submit" value="Submit">
</form>
