<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://www.iconj.com/ico/k/b/kb1xnnwnmo.ico" type="image/x-icon" />
</head>
<body>
   <div class="container">
     <div class="jumbotron">
      {% if error %}
        <h3>{{error}}</h3>
        <br/>
        Do consider checking your pnr status here: <a href='http://www.indianrail.gov.in/pnr_Enq.html'>http://www.indianrail.gov.in/pnr_Enq.html</a>
      {% else %}
        <h3>PNR {{pnr_no}}</h3>
          {% if ticket_is_cancelled %}
            <h2>Your ticket was cancelled!</h2>
          {% elif ticket_is_confirmed %}
            <h2>Your ticket is confirmed :)</h2>
          {% elif chart_prepared_for_ticket %}
            <h2>Chart Prepared for your ticket.</h2>
          {% endif %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Current Status</th>
                <th>Seat Number</th>
              </tr>
            </thead>
            <tbody>
              {% for passenger in passengers %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ passenger.status }}</td>
                <td>{{ passenger.seat_number }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
         {% if will_get_notifications %}
            <h4>You will be notified about the pnr status to your {{ pnr_notify.notification_type }} every {{ pnr_notify.notification_frequency_value }} {{ pnr_notify.notification_frequency }}.</h4>
         {% endif %}
      {% endif %}
     </div>
    </div><!-- /example -->
</body>
</html>
