<br/><br/>
<center>
        <a class="btn btn-success" href="https://github.com/vivekchand/pypnrstatus.in/raw/master/pypnrstatus/static/pypnrstatus.apk">
            Download Android App
        </a>
</center>
<br/><br/>
<div id="fb-root" style="text-align: center;">
    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-size="tall" data-href="http://www.pypnrstatus.in/"></div>
    <br/><br/>
    <div class="fb-like" data-href="http://www.pypnrstatus.in/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>

