<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>
<body>
   <div class="container">
     <a href="https://github.com/vivekchand/pypnrstatus.in"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>        

      {% if message %}
        <div class="jumbotron">
            <h3>{{ message }}</h3>
        </div>
      {% else %}
      <form class="form-signin" role="form" action="/stop_notifications" method="GET">
        <div class="form-group">
            <h3>Stop Notifications for PNR</h3>
            <input type="text" class="form-control" name="pnrno" placeholder="PNR Number" required autofocus>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
      {% endif %}
    </div> <!-- /container -->
</body>
</html>
